<div class="auth-container w3-container w3-light-grey" ng-controller="LoginController">
	<div class="auth-box w3-white">
		<!-- Login -->
		<div class="box login-container">
			<div class="auth-field w3-light-grey">
				<i class="fa fa-user"></i>
				<input type="text" id="loginEmail" autocomplete="off" class="auth-field-input username" placeholder="Email" />
			</div>
			<div class="auth-field w3-light-grey">
				<i class="fa fa-lock"></i>
				<input type="password" id="loginPassword" autocomplete="off" class="auth-field-input password" placeholder="Password" />
			</div>
			<div class="auth-btn loginBtn w3-hover-red" ng-click="verifyLogin()">
				<div class="auth-btn-text">Login</div>
			</div>
		</div>

		<!-- Register -->
		<div class="box register-container">
			<div class="auth-field w3-light-grey">
				<i class="fa fa-superpowers"></i>
				<input type="text" id="registerName" autocomplete="off" class="auth-field-input fullname" placeholder="Full Name" />
			</div>
			<div class="auth-field w3-light-grey">
				<i class="fa fa-user"></i>
				<input type="text" id="registerEmail" autocomplete="off" class="auth-field-input username" placeholder="Email" />
			</div>
			<div class="auth-field w3-light-grey">
				<i class="fa fa-lock"></i>
				<input type="password" id="registerPassword" autocomplete="off" class="auth-field-input password" placeholder="Password" />
			</div>
			<div class="auth-field confirm-password-field w3-light-grey">
				<i class="fa fa-lock"></i>
				<input type="password" id="registerConfirmPassword" autocomplete="off" class="auth-field-input password" placeholder="Confirm Password" />
			</div>
			<div class="auth-btn registerBtn w3-hover-red" ng-click="registerUser()">
				<div class="auth-btn-text">Register</div>
			</div>
		</div>

		<div class="warning hidden">Error</div>

	</div>
</div>